@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&display=swap');
@import 'partials/breakpoint';
@import 'partials/header';
@import 'partials/navtabs';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope';
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
